<template>
	<div class="menu" v-if="showMenu">
		<el-menu background-color="#11202f" text-color="#fff" active-text-color="#fff" :default-active="activeIndex" class="el-menu-vertical-demo" :router="true" :collapse="isCollapse">
			<template v-for="(routerItem, index) in router">
				<menu-item :routerItem="routerItem" :key="index"></menu-item>
			</template>
		</el-menu>
	</div>
</template>

<script>
	import MenuItem from "./MenuItem";
	export default {
		components: {
			MenuItem,
		},
		data() {
			return {
				router: [],
				obj: {},
				showMenu: true,
				activeIndex: "/",
			};
		},
		computed: {
			getGouters() {
				return this.$store.getters.routers
			},
		},
		props: {
			isCollapse: {
				type: Boolean,
				default: false,
			},
		},
		watch: {
			getGouters(newVal) {
				this.showMenu=false
				this.router = newVal
				this.filterMenu(this.router);
				this.$nextTick(()=>{
					this.showMenu=true
				})
			},
			$route(to) {
				if (to.meta.active) {
					this.activeIndex = to.meta.active;
				} else {
					this.activeIndex = to.path;
				}
			},
		},

		created() {
			if (sessionStorage.routerFlag) {
				this.$store.commit('SET_ROUTERS', sessionStorage.routerFlag)
			} else {
				this.$store.commit('SET_ROUTERS',JSON.parse(sessionStorage.power)[0])
			}
			this.activeIndex = this.$route.meta.active ?
				this.$route.meta.active :
				this.$route.path;
		},
		methods: {
			//去掉隐藏的菜单
			filterMenu(menu) {
				menu.forEach((menuItem, index, arr) => {
					if (menuItem.hidden) {
						arr.splice(index, 1);
						this.filterMenu(arr);
					} else {
						if (menuItem.children) {
							this.filterMenu(menuItem.children);
						}
					}
				});
			},
		},
	};
</script>
<style>
	.menu {
		height: 100%;
		overflow: auto;
	}

	.el-menu-vertical-demo:not(.el-menu--collapse) {
		width: 235px;
		min-height: 400px;
	}

	.el-menu-vertical-demo {
		margin-top: 64px;
	}

	.el-menu {
		border: 0;
	}

	.el-menu--collapse>.menu-wrapper>.el-menu-item .el-submenu__icon-arrow,
	.el-menu--collapse>.menu-wrapper>.el-submenu>.el-submenu__title .el-submenu__icon-arrow {
		display: none;
	}
</style>
