<template>
	<div class="menu-wrapper">
		<template v-if="isShowMenuItem()">
			<el-menu-item :index="onlyChild.path">
				<icon v-if="onlyChild.meta.icon" :iconClass="onlyChild.meta.icon" className="iconStyle"></icon>
				<template #title> <span>{{ onlyChild.meta.title }}</span> </template>
			</el-menu-item>
		</template>
		<template v-else>
			<el-menu-item-group v-if="routerItem.isGroup">
				<template #title>
					<icon v-if="routerItem.meta.icon" :iconClass="routerItem.meta.icon" className="groupIconStyle"></icon><span>{{ routerItem.meta.title }}</span>
				</template>
				<menu-item v-for="(item, index) in routerItem.children" :routerItem="item" :key="index"></menu-item>
			</el-menu-item-group>
			<el-submenu :index="routerItem.path" v-else>
				<template #title>
					<icon v-if="routerItem.meta.icon" :iconClass="routerItem.meta.icon" className="iconStyle"></icon>
					<span>{{ routerItem.meta.title }}</span>
				</template>
				<menu-item v-for="(item, index) in routerItem.children" :routerItem="item" :key="index"></menu-item>
			</el-submenu>
		</template>
	</div>
</template>

<script>
	export default {
		name: "menuItem",
		data() {
			return {
				onlyChild: null,
			};
		},
		props: {
			routerItem: {
				type: Object,
				default () {
					return {};
				},
			},
		},
		methods: {
			isShowMenuItem() {
				const routerItem = this.routerItem;
				if (routerItem.children && routerItem.children.length > 0) {
					if (routerItem.children.length === 1) {
						if (routerItem.alwaysShow) {
							return false;
						} else {
							this.onlyChild = routerItem.children[0];
							return true;
						}
					} else {
						return false;
					}
				} else {
					this.onlyChild = routerItem;
					return true;
				}
			},
		},
	};
</script>
<style scoped>
	.el-menu-item.is-active {
		background-color: #409eff !important;
	}

	.el-menu-item.is-active svg {
		color: #fff !important;
	}

	.el-menu--inline .el-menu-item:not(.is-active) {
		color: #d0d7de !important;
		background-color: #09121a !important;
	}

	.el-menu-item-group__title {
		background-color: #09121a !important;
	}

	.el-menu-item-group .el-menu-item:hover:not(.is-active),
	.el-menu-item:hover:not(.is-active),
	.el-menu-item-group .el-menu-item:hover:not(.is-active),
	.sidebar-container .el-menu-item:hover:not(.is-active) {
		background-color: #020406 !important;
	}

	.el-menu--collapse>.menu-wrapper>.el-menu-item span,
	.el-menu--collapse>.menu-wrapper>.el-submenu>.el-submenu__title span {
		height: 0;
		width: 0;
		overflow: hidden;
		visibility: hidden;
		display: inline-block;
	}
</style>
