<template>
	<div class="login">
		<p style="font-size: 40px;color:#fff; text-shadow: 0px 2px 4px rgba(0,0,0,.6);font-weight: 300;text-align: center; line-height: 200px;">省市级监控系统演示</p>
		<div class="loginb">
			<p class="logintext">登录</p>
			<el-form :model="formData" :rules="rules" ref="loginForm" label-position="left">
				<el-form-item prop="userName">
					<el-input type="text" v-model="formData.userName" auto-complete="off" placeholder="请输入用户名" :minlength="8" :maxlength="16">
						<template #prefix>
							<i class="el-icon-user"></i>
						</template>
					</el-input>
				</el-form-item>
				<el-form-item prop="password">
					<el-input type="password" v-model="formData.password" auto-complete="off" placeholder="请输入密码">
						<template #prefix>
							<i class="el-icon-lock"></i>
						</template>
					</el-input>
				</el-form-item>
				<el-form-item class="btns">
					<el-button type="primary" class="btnwidth" @click.prevent="login('loginForm')" :loading="btnLoading">立即登录
					</el-button>
				</el-form-item>
			</el-form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {

			return {
				btnLoading: false,
				formData: {
					userName: '',
					password: ''
				},

				rules: {
					userName: [{
						required: true,
						message: '登录账号',
						trigger: ['blur']
					}],

					password: [{
						required: true,
						message: '请输入密码',
						trigger: ['blur']
					}]

				}

			};
		},
		methods: {
			//登录
			login(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						if(this.formData.userName === 'admin1'){
							sessionStorage.power = JSON.stringify(['1'])
						}else if(this.formData.userName === 'admin2'){
							sessionStorage.power = JSON.stringify(['2'])
						}else if(this.formData.userName === 'admin3'){
							sessionStorage.power = JSON.stringify(['3'])
						}else {
							sessionStorage.power = JSON.stringify(['1','2','3'])
						}
						this.$store.commit('SET_ROUTERS', JSON.parse(sessionStorage.power)[0])
						this.$router.push('/')
					} else {
						console.log('error submit!!');
						return false;
					}
				});
			}
		}
	};
</script>

<style scoped="scoped">
	.login {

		height: 100vh;
		background-color: #357fcb;
	}

	.loginb {
		position: fixed;
		left: 50%;
		top: 50%;
		width: 300px;
		background-color: #fff;
		padding: 30px 32px 10px 30px;
		margin-left: -180px;
		margin-top: -182px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, .05);
	}

	.btnwidth {
		width: 100%;
	}

	.goreg {
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		margin-top: 20px;
		text-decoration: underline;
		cursor: pointer;
	}

	.logintext {
		font-size: 16px;
		text-align: center;
		line-height: 16px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ececec;
		margin-bottom: 20px;
	}
</style>
