<template>
	<el-menu v-if="power.length>1" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
		<el-menu-item index="1" v-if="power.includes('1')">农村生活垃圾治理系统</el-menu-item>
		<el-menu-item index="2" v-if="power.includes('2')">污水处理设施建设信息系统</el-menu-item>
		<el-menu-item index="3" v-if="power.includes('3')">特色小城镇培育系统</el-menu-item>
	</el-menu>
</template>

<script>
	export default {
		data() {
			return {
				activeIndex: sessionStorage.routerFlag || '1',
				power:JSON.parse(sessionStorage.power) 
			};
		},
		methods: {
			handleSelect(key) {
				this.$store.commit('SET_ROUTERS',key)
				this.$router.push('/')
			}
		},
		created(){
			console.log(this.power)
			console.log(sessionStorage.routerFlag)
		}
	}
</script>

<style>
	.el-menu--horizontal>.el-menu-item {
		height: 64px;
		line-height: 64px;
	}
</style>
