<template>
	<div class="layout">
		<div class="left-container">
			<div class="logo">
			</div>
			<leftMenu :isCollapse="isCollapse"></leftMenu>
		</div>
		<div class="right-container">
			<div class="header">
				<div class="open" @click="isCollapse = !isCollapse">
					<i :class="[isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold']"></i>
				</div>
				<topMenu></topMenu>
				<div class="topToll">
					<el-button type="danger" @click="outLogin" size="medium" icon="el-icon-switch-button">退出登录</el-button>
				</div>
			</div>
			<div class="main" ref="main">
				<div style="height: 64px"></div>
				<router-view></router-view>
			</div>
		</div>
	</div>
</template>

<script>
	import leftMenu from "./components/leftMenu";
	import topMenu from "./components/topMenu";
	export default {
		components: {
			leftMenu,
			topMenu
		},
		data() {
			return {
				setStyle: {
					transform: "translateX(0)",
				},
				setOpenLogoOpcity: {
					opacity: 1,
				},
				setPutLogoOpcity: {
					opacity: 0,
				},
				isCollapse: false,
				logos: [require("@/assets/1b.png"), require("@/assets/mini-logo.png")],
				logo: "",
			};
		},
		methods: {
			outLogin() {
				this.$alert('确定要退出登录吗', '退出登录', {
					confirmButtonText: '确定',
					callback: () => {
						this.$router.push('/login')
					}
				});
			}
		}

	};
</script>
<style scope="scope">
	.yama {
		width: 299px;
		overflow: hidden;
		height: 100%;
		transform: translateX(0);
		transition: all 0.25s ease-in;
	}

	.topToll {
		padding-right: 30px;
		margin-left: auto;
	}

	.yama>div {
		line-height: 64px;
		text-align: center;
		height: 100%;
		float: left;
		transition: all 0.25s ease-in;
	}

	.openLogo {
		width: 235px;
		overflow: hidden;
	}

	.putLogo {
		width: 64px;
	}

	.main {
		height: 100vh;

		overflow: auto;
	}

	.header {
		position: absolute;
		width: 100%;
		height: 64px;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		z-index: 95;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.layout {
		display: flex;
		min-width: 1200px;
	}

	.right-container {
		position: relative;
		flex: 1;
	}

	.left-container {
		position: relative;
		height: calc(100vh);
		background-color: #11202f;
	}

	.content-container {
		padding-top: 64px;
		height: 1000px;
	}

	.logo {
		position: absolute;
		background-color: #1f3144;
		width: 100%;
		height: 64px;
		line-height: 64px;
		text-align: center;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
		z-index: 2;
		overflow: hidden;
	}

	.mt {
		width: 235px;
		height: 100%;
		text-align: center;
		line-height: 64px;
		overflow: hidden;
	}

	.logo img {

		max-width: 150px;
	}

	.putLogo img {
		width: 60%;
	}

	.open {
		float: left;
		font-size: 30px;
		margin: 0 20px;
		color: #4a4a4a;
		cursor: pointer;
	}

	.searchStyle {
		float: left;
		margin: 12px 0 0 20px;
	}

	/* .searchStyle:hover .wac,.searchStyle:hover .el-input__inner{
  border-color: #C0C4CC;
  
} */
	.iconStyle {
		font-size: 22px;
		color: #fff;
		font-weight: bold;
		margin-right: 5px;
	}

	.groupIconStyle {
		font-size: 16px;
		color: #909399;
		font-weight: bold;
		margin-right: 5px;
		vertical-align: top;
	}

	.main::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		scrollbar-arrow-color: red;
	}

	.main::-webkit-scrollbar-thumb {
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		background: rgba(0, 0, 0, 0.2);
		scrollbar-arrow-color: red;
	}

	.main::-webkit-scrollbar-track {
		/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		border-radius: 0;
		background: rgba(0, 0, 0, 0.1);
	}

	.menu::-webkit-scrollbar {
		display: none;
	}
</style>
